In [4]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier

import time # MAYBE NOT NECESSARY
%load_ext autoreload
%autoreload 2

# Loading data

In [15]:
data_path = 'CrowdstormingDataJuly1st.csv'
raw_data = pd.read_csv(data_path)

In [16]:
raw_data.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

# Process data

Remove entries with both skin tone rating not available

In [20]:
data = raw_data.dropna(how='all', subset=['rater1', 'rater2'])

Extract relevant features and remove NaN values

In [104]:
features = data.loc[:, data.dtypes != object].copy()
features.drop(['rater1', 'rater2'], axis=1, inplace=True)
features.dropna(inplace=True)
features.head()

,height,weight,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,refNum,refCountry,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,177.0,72.0,1,0,0,1,0,0,0,0,1,1,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,179.0,82.0,1,0,0,1,0,1,0,0,2,2,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
5,182.0,71.0,1,0,0,1,0,0,0,0,4,4,0.325185,127.0,0.003297,0.538462,130.0,0.013752
6,187.0,80.0,1,1,0,0,0,0,0,0,4,4,0.325185,127.0,0.003297,0.538462,130.0,0.013752
7,180.0,68.0,1,0,0,1,0,0,0,0,4,4,0.325185,127.0,0.003297,0.538462,130.0,0.013752

Extract and create labels for classifier

In [110]:
labels = 0.5*(data.rater2 + data.rater1).copy()
labels = labels[features.index]
labels.head()

0    0.375
1    0.750
5    0.125
6    0.125
7    1.000
dtype: float64

Convert data to numpy array

In [111]:
y = np.asarray(labels, dtype="|S6")
X = features.as_matrix()
print('dimensions y =', y.shape)
print('dimensions X =', X.shape)

dimensions y = (123715,)
dimensions X = (123715, 18)

Create and train random forest classifier

In [113]:
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

# TODO
- split data into training and testing
- do random forester classification with cross validation (20-fold) on the training data set
- check accuracy of model on testing
- see what features are more important

# Possible add-ons
- Standardize the data
- Use country or other strings by converting them to a scale (1 to n)